# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

certifyhub-backend/target/
certifyhub-frontend/node_modules/


# Terraform
.terraform/
*.tfstate
*.tfstate.*
tfplan
*.tfplan

# Variable files
*.tfvars

# Logs
*.log
crash.log


# SSH Keys
*.pem
*.ppk